body {
  margin: 20px;
  background-color: #faf5ef ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



header {
    color: rgb(93, 47, 19);
    font-size: 2em;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 50px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column; 
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: inherit; 
    min-height: 300px; 
    resize: vertical; 
}


button {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s ease;
    align-self: flex-start; 
}

button:hover {
    background-color: #218838; 
}


footer {
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}


footer a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline; /* Adds underline back on hover for feedback */
}
